# Byte-compiled / optimized / DLL files
.code2llm_cache/__init___1779486864743651171_1238.pkl
.code2llm_cache/config_1779486669145725191_6452.pkl
.code2llm_cache/config_1779486670356738374_16728.pkl
.code2llm_cache/core_1779486734609000000_24542.pkl
.code2llm_cache/core_1779487013927396641_24610.pkl
.code2llm_cache/pyproject_1779486864730922948_1830.pkl
.code2llm_cache/testql_watcher_1779487013101354376_33920.pkl
.code2llm_cache/wup_1779486743634529841_3016.pkl
.code2llm_cache/__init___1779486150751966031_1238.pkl
.code2llm_cache/pyproject_1779486150737995527_1830.pkl
.code2llm_cache/testql_watcher_1779486123709000000_33681.pkl
.code2llm_cache/wup_1779486342062745131_3017.pkl
.code2llm_cache/config_1779485633797501415_6453.pkl
.code2llm_cache/config_1779485903503139874_16729.pkl
.code2llm_cache/testql_watcher_1779485964454000000_33378.pkl
.code2llm_cache/tree_1779485611539296271_4265.pkl
.code2llm_cache/wup_1779485971513156277_3016.pkl
.code2llm_cache/__init___1779485018125999004_1238.pkl
.code2llm_cache/cli-smoke.testql.toon_1779484925787312730_284.pkl
.code2llm_cache/cli-wup.testql.toon_1779484926066103032_396.pkl
.code2llm_cache/cli_1779485246734000000_32462.pkl
.code2llm_cache/cli_config_generator_1779484950573000000_7595.pkl
.code2llm_cache/cli_scanner_1779484665606000000_10660.pkl
.code2llm_cache/pyproject_1779485018115981024_1830.pkl
.code2llm_cache/testql_cli_generator_1779484676126000000_7095.pkl
.code2llm_cache/testql_monitor_1779484477377000000_18998.pkl
.code2llm_cache/testql_watcher_1779485318415000000_32577.pkl
.code2llm_cache/tree_1779397235848584459_4060.pkl
.code2llm_cache/wup_1779485328342655559_3016.pkl
.code2llm_cache/__init___1779396843079217862_994.pkl
.code2llm_cache/cli_1779358589700069902_27494.pkl
.code2llm_cache/config_1779393825903947745_6450.pkl
.code2llm_cache/config_1779393839370074367_16726.pkl
.code2llm_cache/core_1779393875903418379_24048.pkl
.code2llm_cache/monitoring_manifest_1779358512685371221_12068.pkl
.code2llm_cache/planfile_reporter_1779396522047955511_7461.pkl
.code2llm_cache/pyproject_1779396822426008563_1830.pkl
.code2llm_cache/testql_monitor_1779358638454517220_17951.pkl
.code2llm_cache/testql_watcher_1779394052771092604_31192.pkl
.code2llm_cache/tree_1779358144108216103_4021.pkl
.code2llm_cache/visual_diff_1779358432718657508_17873.pkl
.code2llm_cache/__init___1779357396277625568_994.pkl
.code2llm_cache/core_1779357576743459926_23378.pkl
.code2llm_cache/pyproject_1779357396260771960_1830.pkl
.code2llm_cache/__init___1779357253934266966_994.pkl
.code2llm_cache/pyproject_1779357253932233637_1854.pkl
.code2llm_cache/__init___1779028001074951992_994.pkl
.code2llm_cache/cli_1779093732279705766_25884.pkl
.code2llm_cache/config_1779093732256705325_5948.pkl
.code2llm_cache/config_1779308006117295178_15299.pkl
.code2llm_cache/goal_1779357051910051242_12256.pkl
.code2llm_cache/pyproject_1779357019376717092_1831.pkl
.code2llm_cache/testql_monitor_1779349049504394378_16110.pkl
.code2llm_cache/testql_watcher_1779349554857917715_30253.pkl
.code2llm_cache/visual_diff_1779349214161559462_17193.pkl
.code2llm_cache/tree_1778918955429694841_3999.pkl
.code2llm_cache/run_probe_smoke_1778918681363804547_2134.pkl
.code2llm_cache/testql_monitor_1778918670952641750_14842.pkl
.code2llm_cache/testql_watcher_1778918700454299053_26549.pkl
.code2llm_cache/__init___1778918218933111222_994.pkl
.code2llm_cache/config_1778918450330955027_5847.pkl
.code2llm_cache/config_1778918470747474400_14557.pkl
.code2llm_cache/pyproject_1778918218917527692_1757.pkl
.code2llm_cache/testql_monitor_1778918449357453572_15082.pkl
.code2llm_cache/testql_watcher_1778918280559110104_26317.pkl
.code2llm_cache/tree_1778918199878884357_3944.pkl
.code2llm_cache/visual_diff_1778918454525889896_14792.pkl
.code2llm_cache/web_client_1778918345826981153_5653.pkl
.code2llm_cache/__init___1778834867362150110_994.pkl
.code2llm_cache/cli_1778918000187674386_25505.pkl
.code2llm_cache/config_1778917061530209730_5560.pkl
.code2llm_cache/config_1778917065742082116_14204.pkl
.code2llm_cache/core_1778834388730285362_22557.pkl
.code2llm_cache/monitoring_manifest_1778918028128141262_11166.pkl
.code2llm_cache/pyproject_1778834867353321406_1757.pkl
.code2llm_cache/testql_monitor_1778917195918986170_12093.pkl
.code2llm_cache/testql_watcher_1778917117518359513_24716.pkl
.code2llm_cache/__init___1778575039167989094_994.pkl
.code2llm_cache/c2004_monorepo_demo_1778684557319617197_8257.pkl
.code2llm_cache/ci_cd_integration_1778684557320617207_9296.pkl
.code2llm_cache/main_1778684557319617197_369.pkl
.code2llm_cache/main_1778684557321617217_382.pkl
.code2llm_cache/pyproject_1778690658063351150_1757.pkl
.code2llm_cache/routes_1778684557320617207_301.pkl
.code2llm_cache/routes_1778684557320617207_881.pkl
.code2llm_cache/testql_demo_1778684557320617207_6201.pkl
.code2llm_cache/testql_integration_1778684557324617246_9120.pkl
.code2llm_cache/visual_diff_demo_1778684557321617217_9460.pkl
.code2llm_cache/webhook_notifications_1778684557321617217_11145.pkl
.idea/pyProjectModel.xml
.idea/wup.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/py.iml
.idea/vcs.xml
.env.example
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
